<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Home</h1>
            <p-fieldset legend="All" [toggleable]="true" [collapsed]="true">
                <p-tabView>
                    <p-tabPanel header="Purchase Orders" leftIcon="ui-icon-work">
                        <purchaseorders></purchaseorders>
                    </p-tabPanel>
                    <p-tabPanel header="Shipments" leftIcon="ui-icon-local-shipping">
                      <shipments></shipments>
                    </p-tabPanel>
                    <p-tabPanel header="AP Invoices" leftIcon="ui-icon-mail">
                        <apinvoices></apinvoices>
                    </p-tabPanel>
                    <p-tabPanel header="Acknowledgements" leftIcon="ui-icon-thumb-up">
                        <acknowledgements></acknowledgements>
                    </p-tabPanel>
                    <p-tabPanel header="ScaleConnect" leftIcon="ui-icon-account-balance">
                        <scaleconnect></scaleconnect>
                    </p-tabPanel>
                    <p-tabPanel header="All Mappings" leftIcon="ui-icon-map">
                        <mappings></mappings>
                    </p-tabPanel>
                </p-tabView>
            </p-fieldset>
        </div>
    </div>
</div>