<p-tabView>
  <p-tabPanel header="Consumers">
    <consumerentities></consumerentities>
  </p-tabPanel>
  <p-tabPanel header="Consumer Mappings">
    <consumermappings></consumermappings> 
  </p-tabPanel>
  <p-tabPanel header="Freight Vendors">
    <freightvendorentities></freightvendorentities>
  </p-tabPanel>
  <p-tabPanel header="Freight Vendor Mappings">
    <freightvendormappings></freightvendormappings>
  </p-tabPanel>
  <p-tabPanel header="Items">
    <itementities></itementities>
  </p-tabPanel>
  <p-tabPanel header="Item Mappings">
    <itemmappings></itemmappings>
  </p-tabPanel>
  <p-tabPanel header="Ship Froms">
    <shipfromentities></shipfromentities>
  </p-tabPanel>
  <p-tabPanel header="Ship From Mappings">
    <shipfrommappings></shipfrommappings>
  </p-tabPanel>
  <p-tabPanel header="Ship Tos">  
    <shiptoentities></shiptoentities>
  </p-tabPanel>
  <p-tabPanel header="Ship To Mappings">
    <shiptomappings></shiptomappings>
  </p-tabPanel>
  <p-tabPanel header="Suppliers">
    <supplierentities></supplierentities>
  </p-tabPanel>
  <p-tabPanel header="Supplier Mappings">
    <suppliermappings></suppliermappings>
  </p-tabPanel>
</p-tabView>