<!--  This contains the header with title of the page and loading symbol -->
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>ScaleConnect PO<spinner [visible]="loading"></spinner></h1>
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-toolbar-group-left">
                        <i class="fa fa-search" style="float:left"></i>
                        <span class="md-inputfield" style="float:left">
                            <input type="text" size="30" #globalFilter pInputText>
                            <label>Global Search</label>
                        </span>
                    </div>
                    <div class="ui-toolbar-group-right">
                        <button pButton type="button" icon="ui-icon-refresh" label="Refresh" (click)="refreshPage()" ></button>
                        <button pButton type="button" icon="ui-icon-file-download" label="CSV" (click)="exportCSV.exportCSV()" ></button>
                    </div>
                </div>
            </div>
            <!-- <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
                <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
                <input type="text" #globalFilter pInputText size="50" style="float:left" placeholder="Global Search">
                <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export as CSV" (click)="exportCSV.exportCSV()" style="float:right"></button>
                <button type="button" pButton icon="fa-refresh" style="float:right" (click)="refreshPage()" label="Refresh"></button>
            </div> -->
            <!--HAD TO REMOVE resizableColumns="true" as it caused an error with styleClass for Details -->
            <p-dataTable #exportCSV [value]="POs" [rows]="25" [paginator]="true" [rowsPerPageOptions]="[25,50,100]" [globalFilter]="globalFilter" reorderableColumns="true" expandableRows="true" sortField="LastUpdatedDate" sortOrder="-1">
                <p-column expander="true" header="Details" styleClass="col-icon"></p-column>
                <p-column field="MillContractNum" header="PO Number" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="SupplierName" header="Supplier Name" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="MillGradeCode" header="Grade Code" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="GradeDescription" header="Grade Description" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="TicketTypeCode" header="Type Code" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="Quantity" header="Quantity" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="CreatedDate" header="Created Date" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="LastUpdatedDate" header="Last Updated Date" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <!-- hidden columns -->
                <p-column field="MillContractNumBase" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="MillContractLine" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="SupplierNumber" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="SupplierDescription" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="GradeCode" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="TicketTypeID" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="TicketTypeDescription" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="IsNonScrapMillWeights" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="Active" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="CustomerRefID" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="QtyOrderedUOMCode" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="PriceRate" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="PriceRateUOMCode" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="EffectiveDate" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="ExpirationDate" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="ScaleOperatorComment" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <template let-PO>
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">Mill Contract Num: </div>
                                        <div class="ui-grid-col-6">{{PO.MillContractNum}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5 detail-label">Mill Contract Num Base: </div>
                                        <div class="ui-grid-col-6">{{PO.MillContractNumBase}}</div>
                                    </div>
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">Mill Contract Line: </div>
                                        <div class="ui-grid-col-6">{{PO.MillContractLine}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5 detail-label">Supplier Name: </div>
                                        <div class="ui-grid-col-6">{{PO.SupplierName}}</div>
                                    </div>
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">Supplier Number: </div>
                                        <div class="ui-grid-col-6">{{PO.SupplierNumber}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5 detail-label">Supplier Description: </div>
                                        <div class="ui-grid-col-6">{{PO.SupplierDescription}}</div>
                                    </div>
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">Grade Code: </div>
                                        <div class="ui-grid-col-6">{{PO.GradeCode}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5 detail-label">Mill Grade Code: </div>
                                        <div class="ui-grid-col-6">{{PO.MillGradeCode}}</div>
                                    </div>
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">Grade Description: </div>
                                        <div class="ui-grid-col-6">{{PO.GradeDescription}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5 detail-label">Ticket Type ID: </div>
                                        <div class="ui-grid-col-6">{{PO.TicketTypeID}}</div>
                                    </div>
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">Ticket Type Code: </div>
                                        <div class="ui-grid-col-6">{{PO.TicketTypeCode}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5 detail-label">Ticket Type Description: </div>
                                        <div class="ui-grid-col-6">{{PO.TicketTypeDescription}}</div>
                                    </div>
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">Is Non Scrap Mill Weights: </div>
                                        <div class="ui-grid-col-6">{{PO.IsNonScrapMillWeights}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5 detail-label">Active: </div>
                                        <div class="ui-grid-col-6">{{PO.Active}}</div>
                                    </div>
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">Customer Ref ID: </div>
                                        <div class="ui-grid-col-6">{{PO.CustomerRefID}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5 detail-label">Quantity: </div>
                                        <div class="ui-grid-col-6">{{PO.Quantity}}</div>
                                    </div>
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">PriceRate: </div>
                                        <div class="ui-grid-col-6">{{PO.PriceRate}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5 detail-label">Price Rate UOM Code: </div>
                                        <div class="ui-grid-col-6">{{PO.PriceRateUOMCode}}</div>
                                    </div>
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">Effective Date: </div>
                                        <div class="ui-grid-col-6">{{PO.EffectiveDate | date:'medium'}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5 detail-label">Expiration Date: </div>
                                        <div class="ui-grid-col-6">{{PO.ExpirationDate | date:'medium'}}</div>
                                    </div>
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">Scale Operator Comment: </div>
                                        <div class="ui-grid-col-6">{{PO.ScaleOperatorComment}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5 detail-label">Created Date: </div>
                                        <div class="ui-grid-col-6">{{PO.CreatedDate | date:'medium'}}</div>
                                    </div>
                                    <div class="ui-grid-row ui-expander-row-odd">
                                        <div class="ui-grid-col-5 detail-label">Last Updated Date: </div>
                                        <div class="ui-grid-col-6">{{PO.LastUpdatedDate | date:'medium'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </p-dataTable>
        </div>
    </div>
</div>