<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Consumers<spinner [visible]="loading"></spinner></h1>
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-toolbar-group-left">
                        <i class="fa fa-search" style="float:left"></i>
                        <span class="md-inputfield" style="float:left">
                            <input type="text" size="30" #globalFilter pInputText>
                            <label>Global Search</label>
                        </span>
                    </div>
                    <div class="ui-toolbar-group-right">
                        <button pButton type="button" icon="ui-icon-refresh" label="Refresh" (click)="refreshPage()" ></button>
                        <button pButton type="button" icon="ui-icon-file-download" label="CSV" (click)="exportCSV.exportCSV()" ></button>
                    </div>
                </div>
            </div>
            <p-dataTable #exportCSV [value]="consumers" [rows]="25" [paginator]="true" [rowsPerPageOptions]="[25,50,100]" [globalFilter]="globalFilter" resizableColumns="true" reorderableColumns="true">
                <p-column field="Num" header="Number" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="Name" header="Name" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="ParentNum" header="Parent Number" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="ParentName" header="Parent Name" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="SupplementalData" header="Supplemental Data" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
            </p-dataTable>
        </div>
    </div>
</div>


<!-- <div class="card card-w-title">
    <h1 style="float:center">Consumers<spinner [visible]="loading"></spinner></h1>
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <i class="fa fa-search"></i>
            <input type="text" #globalFilter pInputText size="50" placeholder="Global Search">   
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" icon="ui-icon-refresh" label="Refresh" (click)="refreshPage()" ></button>
            <button pButton type="button" icon="fa-file-o" label="Export as CSV" (click)="exportCSV.exportCSV()" ></button>
        </div>
    </p-toolbar>
    <p-dataTable #exportCSV [value]="consumers" [rows]="25" [paginator]="true" [rowsPerPageOptions]="[25,50,100]" [globalFilter]="globalFilter" resizableColumns="true" reorderableColumns="true">
        <p-column field="Num" header="Number" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="Name" header="Name" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="ParentNum" header="Parent Number" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="ParentName" header="Parent Name" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="SupplementalData" header="Supplemental Data" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    </p-dataTable>
</div> -->