<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Supplier Mappings</h1>
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-toolbar-group-left">
                        <i class="fa fa-search" style="float:left"></i>
                        <span class="md-inputfield" style="float:left">
                            <input type="text" size="30" #globalFilter pInputText>
                            <label>Global Search</label>
                        </span>
                        <button *ngIf="errorMessage" type="button" class="red-btn" pButton icon="ui-icon-info" (mouseenter)="op.show($event)"></button>
                        <p-overlayPanel #op [showCloseIcon]="true" [dismissable]="false" (onAfterHide)="closeError()">{{errorMessage}}</p-overlayPanel>
                    </div>
                    <div class="ui-toolbar-group-right">
                        <button pButton type="button" icon="fa-plus" label="Add" (click)="showDialogToAdd()" ></button>
                        <button pButton type="button" icon="ui-icon-refresh" label="Refresh" (click)="refreshPage()" ></button>
                        <button [disabled]="!supplierMappings" pButton type="button" icon="ui-icon-file-download" label="CSV" (click)="exportCSV.exportCSV()" ></button>
                    </div>
                </div>
            </div>
            <load-bar [visible]="loading"></load-bar>
            <p-dataTable #exportCSV [value]="supplierMappings" selectionMode="single" [(selection)]="selectedSupplierMapping" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="25" [rowsPerPageOptions]="[25,50,100]" [globalFilter]="globalFilter" reorderableColumns="true" [responsive]="true">
                <p-column field="EntityID" header="Entity ID" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="ReferenceID" header="Reference ID" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
            </p-dataTable>
            <p-dialog header="Supplier Mapping Details" [resizable]="false" responsive="true" width="350" [(visible)]="displayDialog" [formGroup]="form" (ngSubmit)="save(form.value)" (onAfterHide)="closeForm()">
                <div class="ui-g form-group" *ngIf="supplierMapping">
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input pInputText id="EntityID" formControlName="EntityID" [(ngModel)]="supplierMapping.EntityID" name="EntityID" >
                            <label>Entity ID</label>
                            <div *ngIf="!form.controls['EntityID'].valid&&form.controls['EntityID'].dirty" class="ui-message ui-messages-error ui-corner-all">
                                Please type a valid Entity ID.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input pInputText id="ReferenceID" formControlName="ReferenceID" [(ngModel)]="supplierMapping.ReferenceID" name="ReferenceID">
                            <label>Reference ID</label>
                            <div *ngIf="!form.controls['ReferenceID'].valid&&form.controls['ReferenceID'].dirty" class="ui-message ui-messages-error ui-corner-all">
                                Please type a valid Reference ID.
                            </div>
                        </span>
                    </div>
                    <footer>
                        <button class="red-btn" [disabled]="!form.valid" type="button" pButton icon="ui-icon-trash" (click)="delete()" label="Delete"></button>
                        <button styleClass="flat" type="submit" pButton icon="fa-check" [disabled]="!form.valid" (click)="save(form.value)" label="Save"></button>
                    </footer>                    
                </div>
            </p-dialog>
            <p-confirmDialog header="Delete Mapping Confirmation" icon="fa ui-icon-warning" width="425"></p-confirmDialog>
        </div>
    </div>
</div>