/* You can add global styles to this file, and also import other style files */
.col-icon {
  width: 70px;
  text-align: center;
}
.detail-label {
  font-weight: bold;
}
.ui-expander-row-odd {
    background-color: #fafafb;
    border-color: #d9d9d9;
}
.load-container {
    width: 250px;
    margin: 0 auto;
    text-align: center; 
}