<div *ngIf="auth.logoutOnTokenExpiration()"></div>
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>AP Invoices</h1>
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-toolbar-group-left">
                        <i class="fa fa-search" style="float:left"></i>
                        <span class="md-inputfield" style="float:left;margin-right:15px">
                            <input type="text" size="30" #globalFilter pInputText>
                            <label>Global Search</label>
                        </span>
                        <form class="ui-toolbar-group-left" [formGroup]="form">
                            <span style="float:left;margin-right:15px">
                                <p-calendar placeholder="From Date" formControlName="fromDate" [(ngModel)]="fromDate" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" dateFormat="yy-mm-dd" dataType="string" ></p-calendar>
                                <p-calendar placeholder="To Date" formControlName="toDate" [(ngModel)]="toDate"  [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" dateFormat="yy-mm-dd" dataType="string" ></p-calendar>
                            </span>
                            <button [disabled]="!form.valid" pButton icon="ui-icon-send" label="Submit" (click)="submit(fromDate, toDate)"></button>
                        </form>
                        <button *ngIf="errorMessage" type="button" class="red-btn" pButton icon="ui-icon-info" (mouseenter)="op.show($event)"></button>
                        <p-overlayPanel #op [showCloseIcon]="true" [dismissable]="false" (onAfterHide)="closeError()">{{errorMessage}}</p-overlayPanel>
                    </div>
                    <div class="ui-toolbar-group-right">
                        <button pButton type="button" icon="ui-icon-refresh" label="Reset" (click)="resetTable(dt)"></button>
                        <button pButton [disabled]="!APInvoices" type="button" icon="ui-icon-file-download" label="CSV" (click)="exportCSV.exportCSV()"></button>
                    </div>
                </div>
            </div>
            <load-bar [visible]="loading"></load-bar>
            <!--HAD TO REMOVE resizableColumns="true" as it caused an error with styleClass for Details -->
            <p-dataTable #exportCSV #dt [value]="APInvoices" [rows]="25" [paginator]="true" [rowsPerPageOptions]="[25,50,100]" [globalFilter]="globalFilter" reorderableColumns="true" sortField="InvoiceId" sortOrder="-1" expandableRows="true" [responsive]="true">
                <p-column expander="true" header="Details" styleClass="col-icon"></p-column>
                <p-column field="InvoiceId" header="Invoice ID" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="ShipmentID" header="Shipment ID" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="AccountWgtRefID" header="Scale Connect Number" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="InvoiceTypeCodeName" header="Invoice Type" [sortable]="true" [filter]="true" filterMatchMode="contains">
                    <ng-template let-col let-APInvoice="rowData" pTemplate>
                        {{APInvoice.InvoiceTypeCodeName}}
                        {{APInvoice.AdjCodeName}}
                    </ng-template>
                </p-column>
                <p-column field="TotalAmt" header="Total Amount" [sortable]="true" [filter]="true" filterMatchMode="contains">
                    <ng-template let-col let-APInvoice="rowData" pTemplate>
                        {{APInvoice[col.field] | currency:'USD':true:'1.2-2'}}
                    </ng-template>
                </p-column>
                <p-column field="MaterialAmt" header="Material Amount" [sortable]="true" [filter]="true" filterMatchMode="contains">
                    <ng-template let-col let-APInvoice="rowData" pTemplate>
                        {{APInvoice[col.field] | currency:'USD':true:'1.2-2'}}
                    </ng-template>
                </p-column>
                <p-column field="CommisionAmt" header="Commision Amount" [sortable]="true" [filter]="true" filterMatchMode="contains">
                    <ng-template let-col let-APInvoice="rowData" pTemplate>
                        {{APInvoice[col.field] | currency:'USD':true:'1.2-2'}}
                    </ng-template>
                </p-column>
                <p-column field="InvWgtLB" header="Invoice Weight LB" [sortable]="true" [filter]="true" filterMatchMode="contains">
                    <ng-template let-col let-APInvoice="rowData" pTemplate>
                        {{APInvoice[col.field] | number:'1.0-0'}}
                    </ng-template>
                </p-column>
                <p-column field="InvoiceDate" header="Invoice Date" [sortable]="true" [filter]="true" filterMatchMode="contains" [style]="{'overflow':'visible'}">
                    <ng-template pTemplate="filter">
                        <p-calendar [disabled]="!APInvoices" [(ngModel)]="invoiceDateFilter" placeholder="Select Date" showIcon="true" dateFormat="yy-mm-dd" dataType="string" (onSelect)="dt.filter($event.value=invoiceDateFilter,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-calendar>
                    </ng-template>
                    <ng-template let-col let-APInvoice="rowData" pTemplate>
                        {{APInvoice[col.field]}}
                    </ng-template>
                </p-column>
                <p-column field="DueDate" header="Due Date" [sortable]="true" [filter]="true" filterMatchMode="contains" [style]="{'overflow':'visible'}">
                    <ng-template pTemplate="filter">
                        <p-calendar [disabled]="!APInvoices" [(ngModel)]="dueDateFilter" placeholder="Select Date" showIcon="true" dateFormat="yy-mm-dd" dataType="string" (onSelect)="dt.filter($event.value=dueDateFilter,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-calendar>
                    </ng-template>
                    <ng-template let-col let-APInvoice="rowData" pTemplate>
                        {{APInvoice[col.field]}}
                    </ng-template>
                </p-column>
                <p-column field="CreatedDate" header="Created Date" [sortable]="true" [filter]="true" filterMatchMode="contains" [style]="{'overflow':'visible'}">
                    <ng-template pTemplate="filter">
                        <p-calendar [disabled]="!APInvoices" [(ngModel)]="createdDateFilter" placeholder="Select Date" showIcon="true" dateFormat="yy-mm-dd" dataType="string" (onSelect)="dt.filter($event.value=createdDateFilter,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-calendar>
                    </ng-template>
                    <ng-template let-col let-APInvoice="rowData" pTemplate>
                        {{APInvoice[col.field] | date:'medium'}}
                    </ng-template>
                </p-column>
                <p-column  field="LastUpdatedDate" header="Last Updated Date" [sortable]="true" [filter]="true" filterMatchMode="contains" [style]="{'overflow':'visible'}">
                    <ng-template pTemplate="filter">
                        <p-calendar [disabled]="!APInvoices" [(ngModel)]="lastUpdatedDateFilter" placeholder="Select Date" showIcon="true" dateFormat="yy-mm-dd" dataType="string" (onSelect)="dt.filter($event.value=lastUpdatedDateFilter,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-calendar>
                    </ng-template>
                    <ng-template let-col let-APInvoice="rowData" pTemplate>
                        {{APInvoice[col.field] | date:'medium'}}
                    </ng-template>
                </p-column>
                <!-- <p-column field="CreatedDate" header="Created Date" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="LastUpdatedDate" header="Last Updated Date" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column> -->
            <!-- These columns are hidden so that they show up on the ExportCSV. They also have the filter so that they can be searched when multiple invoices are shown-->
                <p-column field="ChangeVersionID" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="InvoiceTypeCode" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="InvoiceTypeCodeName" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="AdjCode" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="AdjCodeName" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="EntityID" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="EntityName" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="EntityRefID" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="EntityInvoiceRefID" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="InvoiceDate" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="DueDate" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="InvoiceStatusID" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="InvoiceStatusName" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="ShipmentLine" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="FrtAmt" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="DeadFrtAmt" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="FrtDifferential" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="MiscChgAmt" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="DiscountAmt" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="CargoNum" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="Remarks" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="DataChangeTypeID" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="DataChangeChildTypeID" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="BizType" hidden="true" [filter]="true" filterMatchMode="contains"></p-column>
                <ng-template let-APInvoice pTemplate="rowexpansion">
                   <div class="ui-g">
                        <div class="ui-g-12 ui-lg-8">
                            <h2>Invoice Details: {{APInvoice.InvoiceId}}</h2>
                            <div class="ui-g-12 ui-md-6 ui-lg-6">
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Shipment Number: </div>
                                    <div class="ui-g-8">
                                        {{APInvoice.ShipmentID}}
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Invoice Type: </div>
                                    <div class="ui-g-8">
                                        {{APInvoice.InvoiceTypeCodeName}}
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Total Amount: </div>
                                    <div class="ui-g-8">
                                        {{APInvoice.TotalAmt | currency:'USD':true:'1.2-2'}}
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Material Amount: </div>
                                    <div class="ui-g-8">
                                        {{APInvoice.MaterialAmt | currency:'USD':true:'1.2-2'}}
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Commission Amount: </div>
                                    <div class="ui-g-8">
                                        {{APInvoice.CommisionAmt | currency:'USD':true:'1.2-2'}}
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Invoice Weight: </div>
                                    <div class="ui-g-8">
                                        {{APInvoice.InvWgtLB | number:'1.0-0'}}
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-6">
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">ScaleConnect Ticket #: </div>
                                    <div class="ui-g-8">

                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Invoice Date: </div>
                                    <div class="ui-g-8">
                                        {{APInvoice.InvoiceDate | date}}
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Due Date: </div>
                                    <div class="ui-g-8">
                                        {{APInvoice.DueDate | date}}
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Created Date: </div>
                                    <div class="ui-g-8">
                                        {{APInvoice.CreatedDate | date:'medium'}}
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Last Updated Date: </div>
                                    <div class="ui-g-8">
                                    {{APInvoice.LastUpdatedDate | date:'medium'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-lg-4">
                            <h2>Acknowledgement Details</h2>
                            <div class="ui-g-12 ui-g-nopad">
                                <div class="ui-g-4">Ack Comment:</div>
                                <div class="ui-g-8">
                                    <ng-template ngFor [ngForOf]="apInvoiceAck" let-apInvoiceAck>
                                        {{apInvoiceAck.ClientComment}}
                                    </ng-template>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-g-nopad">
                                <div class="ui-g-4">Client Status:</div>
                                <div class="ui-g-8">
                                    <ng-template ngFor [ngForOf]="apInvoiceAck" let-apInvoiceAck>
                                        {{apInvoiceAck.ClientStatusID}}
                                    </ng-template>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-g-nopad">
                                <div class="ui-g-4">Error Count:</div>
                                <div class="ui-g-8">
                                    <ng-template ngFor [ngForOf]="apInvoiceAck" let-apInvoiceAck>
                                        {{apInvoiceAck.ErrorCount}}
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12">  
                        <p-inplace closable="closable">
                            <span pInplaceDisplay>
                                CLICK FOR ALL DETAILS
                            </span>
                            <span pInplaceContent>
                                <h1>Full Invoice Details</h1>
                                <div> - Invoice ID: {{APInvoice.InvoiceId}}</div>
                                <div> - Change Version ID: {{APInvoice.ChangeVersionID}}</div>
                                <div> - Invoice Type Code: {{APInvoice.InvoiceTypeCode}}</div>
                                <div> - Invoice Type Code Name: {{APInvoice.InvoiceTypeCodeName}}</div>
                                <div> - Adjustment Code: {{APInvoice.AdjCode}}</div>
                                <div> - Adjustment Code Name: {{APInvoice.AdjCodeName}}</div>
                                <div> - Entity ID: {{APInvoice.EntityID}}</div>
                                <div> - Entity Name: {{APInvoice.EntityName}}</div>
                                <div> - Entity Ref ID: {{APInvoice.EntityRefID}}</div>
                                <div> - Invoice Date: {{APInvoice.InvoiceDate | date}}</div>
                                <div> - Due Date: {{APInvoice.DueDate | date}}</div>
                                <div> - Invoice Status ID: {{APInvoice.InvoiceStatusID}}</div>
                                <div> - Invoice Status Name: {{APInvoice.InvoiceStatusName}}</div>
                                <div> - Shipment ID: {{APInvoice.ShipmentID}}</div>
                                <div> - Shipment Line: {{APInvoice.ShipmentLine}}</div>
                                <div> - ScaleConnect Ticket #: {{APInvoice.AccountWgtRefID}}</div>
                                <div> - Total Amount: {{APInvoice.TotalAmt | currency:'USD':true:'1.2-2'}}</div>
                                <div> - Material Amount: {{APInvoice.MaterialAmt | currency:'USD':true:'1.2-2'}}</div>
                                <div> - Commission Amount: {{APInvoice.CommisionAmt | currency:'USD':true:'1.2-2'}}</div>
                                <div> - Freight Amount: {{APInvoice.FrtAmt | currency:'USD':true:'1.2-2'}}</div>
                                <div> - Dead Freight Amount: {{APInvoice.DeadFrtAmt | currency:'USD':true:'1.2-2'}}</div>
                                <div> - Freight Differential: {{APInvoice.FrtDifferential | currency:'USD':true:'1.2-2'}}</div>
                                <div> - Miscellaneous Charge Amount: {{APInvoice.MiscChgAmt | currency:'USD':true:'1.2-2'}}</div>
                                <div> - Discount Amount: {{APInvoice.DiscountAmt | currency:'USD':true:'1.2-2'}}</div>
                                <div> - Invoice Weight LB: {{APInvoice.InvWgtLB | number:'1.0-0'}}</div>
                                <div> - Cargo Num: {{APInvoice.CargoNum}}</div>
                                <div> - Remarks: {{APInvoice.Remarks}}</div>
                                <div> - Created Date: {{APInvoice.CreatedDate | date:'medium'}}</div>
                                <div> - Last Updated Date: {{APInvoice.LastUpdatedDate | date:'medium'}}</div>
                                <div> - Data Change Type ID: {{APInvoice.DataChangeTypeID}}</div>
                                <div> - Data Change Child Type ID: {{APInvoice.DataChangeChildTypeID}}</div>
                                <div> - Biz Type: {{APInvoice.BizType}}</div>
                            </span>
                        </p-inplace>
                    </div>
                </ng-template>
            </p-dataTable>
        </div>
    </div>
</div>